<!DOCTYPE html>
<html>

    <head>
        <title>AiDoc</title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>

    <body>
        <nav id='navigation'>
            <ul id='brandLogo'>
                <li><a href="#" style='font-size: 25px; padding-left: 35px'> AiDoc </a></li>
                <li style='float: right'><a href="#"> Home </a></li>
                <li style='float: right'><a href="#"> Services </a></li>
                <li style='float: right'> <a href="#"> Blog </a></li>
            </ul>

        </nav>


        <section id="upper-part">
            <div class='first_image'>
                <img src='../static/images/ai-image.png'>
            </div>
            <div class="text">
                <h2>
                    Welcome To <span> AiDOC</span>
                </h2>
                <p> Revolutionizing healthcare with image recognition technology</p>
            </div>
        </section>


        <!-- Pallavi Here is the Section You Will be Interested in  -->
        <section id='second-section'>
            <div class='heading'>
                <h2> Our Services</h2>
                <p> Diagnose Tuberculosis, Pneumonia, and Cancer </p>
            </div>

            <div class='card1 card'>
                <div class='brain'>

                </div>
                <a href="#section-form">
                    <h2> Diagnose Brain Cancer</h2>
                </a>


                <!-- This Submission si for Brain -->



            </div>
            <!-- This Card is for Tuberculosis -->
            <div class='card2 card'>
                <div class='tuberculosis'>


                </div>
                <a href="#section-form">
                    <h2> Diagnose Tuberculosis</h2>
                </a>



            </div>
            <!-- Thus Submission is for Cancer -->
            <div class='card3 card'>
                <div class='cancer'>


                </div>
                <a href="#section-form">
                    <h2> Diagnose Cancer</h2>
                </a>



            </div>

        </section>


        <!-- This is the Section that Requires Backend -->
        <h2 id="section-form">Fill Up</h2>
        <section id="submission-section">



            <div id="submit-illness">
                <div>

                    <h2> Three Steps Solution </h2>
                    <ul>
                        <li> 1. Choose a Problem to Be Diagnosed </li>
                        <li> 2. Upload the Relevant Image </li>
                        <li> 3. Submit </li>
                    </ul>
                </div>
            </div>


            <div id='submission-form'>
                <form method="post" action="/predict" id="uploadFile" enctype="multipart/form-data">
                    <div id='first'>
                        <label for="fname">First name:</label><br>
                        <input type="text" id="fname" name="fname" value="">
                    </div>

                    <div id='second'>
                        <label for="lname">Last name:</label><br>
                        <input type="text" id="lname" name="lname" value="">
                    </div>

                    <div id='third'>
                        <label for="number">Phone Number:</label><br>
                        <input type="tel" id="number" name="number" value="">
                    </div>

                    <div id='fourth'>
                        <label for="address">Address:</label><br>
                        <input type="text" id="address" name="address" value="">
                    </div>
                    
                    <!-- <div id='fifth'>
                        <label for="illness">Choose Illness :</label>

                        <select name="illness" id="illness" required>
                            <option value="Tuberculosis">Tuberculosis</option>
                            <option value="pneumonia">Pneumonia</option>
                            <option value="Brain">Brain tumor</option>
                        </select> 
                    </div> -->

                    <div id='sixth'>
                        <input type="file" id="myFile" name="file" required>
                    </div>

                    <div id='seventh'>
                        <input type="submit" value="Submit">

                    </div>


                </form>



            </div>



        </section>
        <section id='about-us'>
            <h2> About Us</h2>
            <div class='description'>
                We use Various Technologies to get the job done.
            </div>

        </section>


        <footer id='footer'>

            <div id='contact-us'>
                <ul>
                    <h2>Contact Us</h2>

                    <li> Number: 9860103809 </li>
                    <li> Email: aidoc@gmail.com</li>
                </ul>
            </div>

            <div id="read-blogs">
                <ul>
                    <h2> Read Our Blogs</h2>

                    <li> <a href='#'>On Image Recognitions</a></li>
                    <li><a href='#'>Success Stories</a></li>
                </ul>



            </div>



        </footer>
    </body>

</html>